@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap");

// Colors
$white-color: #fff;
$dark-color: #111;
$gray-color: #999;

// Font Size
$font-size-extra-small: 0.8rem;
$font-size-small: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.5rem;

* {
  padding: 0;
  margin: 0;
}

.f-serif {
  font-family: "Playfair Display", serif;
}

.f-sans-serif {
  font-family: "Open Sans", sans-serif;
}

$font-sizes: (
  xs: $font-size-extra-small,
  sm: $font-size-small,
  md: $font-size-medium,
  lg: $font-size-large,
);

$colors: (
  white: $white-color,
  dark: $dark-color,
  gray: $gray-color,
);

$font-weight: (
  normal: 400,
  medium: 500,
  bold: 700,
);

@each $weight, $value in $font-weight {
  .fw-#{$weight} {
    font-weight: $value;
  }
}

@each $color, $value in $colors {
  .color-#{$color} {
    color: $value;
  }
}

@each $size, $value in $font-sizes {
  .f-#{$size} {
    font-size: $value;
  }
}

.input-search {
  .form-input {
    border-radius: 0 !important;
  }
  .btn-search {
    background-color: $dark-color;
    color: $white-color;
    border: $dark-color;
    border-radius: 0 !important;

    &:hover {
      background-color: $gray-color;
      color: $white-color;
      border: $dark-color;
    }
  }
}

.disable-focus-shadow:focus {
  box-shadow: none !important;
  border-color: #000000 !important;
  outline: none !important;
}

.card-news {
  border-radius: 0;
  border: none;

  &-img-news {
    height: 200px;
    object-fit: cover;
  }
  &-text-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; // Maksimal 2 baris
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
  }
  &-text-title:hover {
    color: $dark-color;
  }
  &-text-description {
    display: -webkit-box;
    -webkit-line-clamp: 3; // Maksimal 2 baris
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.btn-show-more {
  border-radius: 0;
  background-color: $dark-color;
}
